<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="ClientId" value="a9e24fc4-5bf8-4f5c-9639-ef6fded5b3ce"/>
    <add key="ClientSecret" value="kdA5/?jxo9Cq9IXrX4v]HpcjSRLMe:=3"/>
    <add key="Resource" value="c603531b-1494-445c-8eb8-142dabcd2e5e"/>
    <add key="BaseUrl" value="https://appdemowebapi.azurewebsites.net"/>
  
  </appSettings>
</configuration>